<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CondoFacile - Benvenuto</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div class="logo">CondoFacile</div>
    <button onclick="location.href='/login'">Accedi</button>
    <button onclick="location.href='/register'">Registrati</button>
</div>
</body>
</html>